/* lato-regular - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: local(''),
      url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: local(''),
      url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-700.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   src: local(''),
      url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-900.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   font-family: "Lato";
   font-style: normal;
   font-size: 16px;
   line-height: 1.2;
   font-weight: normal;
   color: #102746;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

.wrapper {
   max-width: 1060px;
   margin: 0 auto;
}

/* Header start*/

.header__wrapper {
   width: 1060px;
   padding-top: 56px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;
}

.header__nav {
   display: flex;
   flex-wrap: wrap;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
}

.header__item {
   margin-right: 82px;
}

.header__item:last-child {
   margin-right: 0;
}

.header__link {
   font-size: 18px;
   line-height: 24px;
   color: #FFFFFF;
   text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
   opacity: 0.75;
}



/* Header end*/

/* intro start*/

.intro {
   min-height: 100vh;
   background: url(/img/intro-img.png) no-repeat center;
   background-size: cover;
   padding-top: 263px;
}

.intro__title {
   max-width: 619px;
   padding-bottom: 22px;
   font-weight: 500;
   font-size: 50px;
   line-height: 60px;
   color: #FFFFFF;
}

.intro__subtitle {
   max-width: 546px;
   margin-bottom: 59px;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

.search-form__info {
   display: flex;
   flex-wrap: wrap;
}

.search-form__field {
   width: 297px;
   background: transparent url(/img/svg/circle.svg) no-repeat left 20px;
   background-size: 20px;
   border: none;
   padding-left: 43px;
   border-bottom: 2px solid #BFC0C5;
   margin-right: 60px;
   font-size: 18px;
   line-height: 24px;
   color: white;
}

.search-form__field::placeholder {
   color: #FFFFFF;
}

.search-form__submit {
   padding: 15px 39px;
   background: #1B7DFF;
   border: none;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
}

.search-form__submit:hover,
.search-form__submit:active,
.search-form__submit:focus {
   opacity: 0.75;
   background-color: #0d5cc4;
}

/* intro end*/

/*benefits styles start*/
.benefits__wrap {
   position: relative;
   max-width: 1262px;
   background-color: white;
   margin: 0 auto;
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   font-weight: 500;
   font-size: 35px;
   line-height: 42px;
   padding: 93px 100px 88px 100px;
   transform: translateY(-100%);
   background-color: white;
}

.benefits__cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 55px;
}


/*benefits styles end*/