/* lato-regular - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   src: local(''),
      url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-regular.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src: local(''),
      url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-700.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   src: local(''),
      url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/lato-v23-latin-900.woff') format('woff');
   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   font-family: "Lato";
   font-style: normal;
   font-size: 16px;
   line-height: 1.2;
   font-weight: normal;
   color: #102746;
}

img {
   max-width: 100%;
   height: auto;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}


.wrapper {
   max-width: 1060px;
   margin: 0 auto;
}

.wrapper-full {
   max-width: 1262px;
   margin: 0 auto;
}

.section-title {
   font-weight: 500;
   font-size: 35px;
   line-height: 42px;
   position: relative;
   padding-bottom: 10px;
}

.section-title::after {
   display: block;
   content: "";
   width: 253px;
   height: 3px;
   background-color: #006DFE;
   position: absolute;
   bottom: 0;
   left: 0;
}

/* Header start*/

.header__wrapper {
   width: 1060px;
   padding-top: 56px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: space-between;
}

.header__nav {
   display: flex;
   flex-wrap: wrap;
}

.header__list {
   display: flex;
   flex-wrap: wrap;
}

.header__item {
   margin-right: 82px;
}

.header__item:last-child {
   margin-right: 0;
}

.header__link {
   font-size: 18px;
   line-height: 24px;
   color: #FFFFFF;
   text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
   opacity: 0.75;
}



/* Header end*/

/* intro start*/

.intro {
   min-height: 100vh;
   background: url(/img/intro-img.png) no-repeat center;
   background-size: cover;
   padding-top: 263px;
   padding-bottom: 290px;
}

.intro__title {
   max-width: 619px;
   padding-bottom: 22px;
   font-weight: 500;
   font-size: 50px;
   line-height: 60px;
   color: #FFFFFF;
}

.intro__subtitle {
   max-width: 546px;
   margin-bottom: 59px;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

.search-form__info {
   display: flex;
   flex-wrap: wrap;
}

.search-form__field {
   width: 297px;
   background: transparent url(/img/svg/circle.svg) no-repeat left 20px;
   background-size: 20px;
   border: none;
   padding-left: 43px;
   border-bottom: 2px solid #BFC0C5;
   margin-right: 60px;
   font-size: 18px;
   line-height: 24px;
   color: white;
}

.search-form__field::placeholder {
   color: #FFFFFF;
}

.search-form__submit {
   padding: 15px 39px;
   background: #1B7DFF;
   border: none;
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   color: #FFFFFF;
}

.search-form__submit:hover,
.search-form__submit:active,
.search-form__submit:focus {
   opacity: 0.75;
   background-color: #0d5cc4;
}

/* intro end*/

/*benefits styles start*/

.benefits {
   margin-bottom: 131px;
}

.benefits__wrap {
   position: relative;
   max-width: 1262px;
   background-color: white;
   margin: 0 auto;
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   font-weight: 500;
   font-size: 35px;
   line-height: 42px;
   padding: 93px 100px 88px 100px;
   transform: translateY(-100%);
   background-color: white;
}

.benefits__cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 55px;
   padding: 0 100px;
}

.benefits__card {
   grid-column: span 1;
   padding-bottom: 112px;
}

.benefits__card-pic {
   margin-bottom: 37px;
   max-width: 66px;
}

.benefits__card-thumb {
   display: block;
}

.benefits__card-title {
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   margin-bottom: 26px;
}

.benefits__card-desc {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 39px;
}

.benefits__card-more {
   display: inline-block;
   padding-right: 59px;
   color: 006DFE;
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
   background: url(/img/svg/arrow-right-icon.svg) no-repeat 95% center;
}

.benefits__card-more:hover,
.benefits__card-more:focus {
   background: url(/img/svg/arrow-right-icon.svg) no-repeat right center;
   opacity: 0.8;
   transform: scale(1.05);
   transition: 0.2s all;
}

/*benefits styles end*/

/* Places start */
.places {
   margin-bottom: 131px;
}

.places__caption {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 36px;
}

.places__title {
   margin-right: 15px;
}

.places__view-all {
   display: inline-block;
   padding-right: 59px;
   color: 006DFE;
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
   background: url(/img/svg/arrow-right-icon.svg) no-repeat right center;
}

.places__view-all:hover,
.places__view-all:focus {
   background: url(/img/svg/arrow-right-icon.svg) no-repeat right center;
   opacity: 0.8;
   transform: scale(1.05);
   transition: 0.2s all;
}

.places__cards {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 10px;
}

.places__card {
   position: relative;
   overflow: hidden;
}

.places__card::after {
   display: block;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   height: 100%;
   background-color: rgba(21, 24, 36, 0.4);
}

.places__card:hover .places__card-pic {
   transform: scale(1.05);
}

.places__card_size_lg {
   grid-column: span 3;
}

.places__card_size_small {
   grid-column: span 2;
}

.places__card-pic {
   width: 100%;
   transition: 0.15s;
}

.places__card-pic_size_lg {
   height: 364px;
   object-fit: cover;
}

.places__card-pic_size_small {
   height: 283px;
   object-fit: cover;
}

.places__card-title {
   font-size: 50px;
   line-height: 60px;
   color: white;
   position: absolute;
   left: 29px;
   bottom: 27px;
   z-index: 3;
}

.places__card-link {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 4;
}


/* Places end */

/* Tours start*/

.tours {
   margin-bottom: 139px;
}

.tours__tour {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 0 108px;
   align-items: center;
   margin-bottom: 80px;
}

.tour__pic+.tour__info {
   padding-right: 47px;
}

.tour+div {
   padding-left: 47px;
}

.tour__title {
   font-weight: 500;
   font-size: 30px;
   line-height: 40px;
   margin-bottom: 85px;
}

.tour__desk {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 58px;
}

.tour__more {
   display: inline-block;
   padding-right: 59px;
   color: 006DFE;
   font-size: 16px;
   text-decoration: none;
   background: url(/img/svg/arrow-right-icon.svg) no-repeat right center;
}

.tour__more:hover,
.tour__more:focus {
   opacity: 0.8;
   transform: scale(1.05);
   transition: 0.2s all;
}



/* Tours end*/

/* Top start*/


.top__title {
   position: relative;
   font-weight: 500;
   font-size: 35px;
   line-height: 42px;
   margin-bottom: 64px;
   padding-bottom: 10px;
}

.top__title::after {
   display: block;
   content: "";
   width: 253px;
   height: 3px;
   background-color: #006DFE;
   position: absolute;
   bottom: 0;
   left: 0;
}

.top__cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 52px 58px;
}

.top__card {
   position: relative;
}

.top__card-img {
   margin-bottom: 45px;
}

.top__card-name {
   position: absolute;
   display: block;
   width: 100%;
   color: greenyellow;
   top: 310px;
   z-index: 2;
   background-color: #102746;
   padding-left: 20px;
}

.top__card-desc {
   margin-bottom: 31px;
}

.top__card-btn {
   height: 42px;
   width: 118px;
   background: #1B7DFF;
   border: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 17px;
   color: #FFFFFF;
}

.top__card-btn:hover,
.top__card-btn:active,
.top__card-btn:focus {
   opacity: 0.75;
   background-color: #0d5cc4;

   /* Top end*/